<div id="editChapter">
	<h3>Edit Chapter Details</h3>
	<span class="formTitle">Chapter Number:</span> <input type="text" value="{{ chapter.number }}" id="chapterID">
	<br>
	<span class="formTitle">Chapter Title:</span> <input type="text" value="{{ chapter.title }}" id="chapterTitle">
	<br>
	<div class="formTitle">Chapter Synopsis:</div>
	<textarea id="chapterSynopsis" rows="7" cols="40">{{ chapter.synopsis }}</textarea>
	<br>
	<button ng-click="story.changeChapterDetails()">Save</button>
	<button>Delete</button>
</div>