<!-- storyMgr Template 
	Story Manager Template 
	Written by Shir Bar Lev  -->

<nav>
	<div id="breadcrumb"><a ui-sref="home">Home</a> / Story {{ story.storyID }}</div>
</nav>

<div class="storyDetails">
	<a ui-sref="story.edit" class="editLink">Edit</a>
	<h2 class="storyTitle"> {{ story.storyName }} </h2>
	<p class="storySynopsis"> {{ story.storySynopsis }} </p>
	<h3> The story so far... </h3>
		<div class="chapters" ng-repeat="chapter in story.chapters">
			<div class="chapterDetails">
				<h4 class="chapterTitle"> Chapter {{ chapter.number }}:</h4>
				<h4 class="chapterTitle"> {{ chapter.title }} </h4>
				<p class="chapterSynopsis"> {{ chapter.synopsis }} </p>
				<a ui-sref="story.editChapter" class="editLink">Edit</a>
			</div>
		</div>
</div>