<!-- storyEdit Template 
	Story Manager Template 
	Written by Shir Bar Lev  -->

<!-- Navigation breadcrumb -->
<nav>
	<div id="breadcrumb"><a ui-sref="home">Home</a> / <a ui-sref="story({ id: story.storyID })">Story {{ story.storyID }}</a> / Edit</div>
</nav>

<!-- Edit Story section -->
<div id="editStory">
	<h3>Edit Story Details</h3>
	<span class="formTitle">Story Title:</span> <input type="text" value="{{ story.storyName }}" id="storyTitle">
	<div class="formTitle">Story Synopsis:</div>
	<textarea id="storySynopsis" rows="5" cols="40">{{ story.storySynopsis }}</textarea>
	<br>
	<button ng-click="story.changeDetails()">Save</button>
	<button ng-click="story.deleteItem(story.storyName)">Delete Story</button>
</div>

<!-- Edit chapters section -->
<div id="chapters">
	<h3>Edit Chapters</h3>
	<button id="addChapter" class="controlBtn" ng-click="story.openAddPanel()"><i class="fas fa-plus-circle"></i></button>
	<button id="removeChapters" class="controlBtn" ng-click="story.openRemovePanel()"><i class="fas fa-minus-circle"></i></button>
	<button id="deleteAll" class="controlBtn" ng-click="story.deleteItem(story.chapters)"><i class="fas fa-times-circle"></i></button>
	<!-- Chapters' details -->
	<div class="chapters" ng-repeat="chapter in story.chapters">
		<div class="chapterDetails">
			<h4 class="chapterTitle"> Chapter {{ chapter.number }}:</h4>
			<h4 class="chapterTitle"> {{ chapter.title }} </h4>
			<p class="chapterSynopsis"> {{ chapter.synopsis }} </p>
			<a ui-sref="editChapter({ id: story.storyID, chapterID: chapter.number })">Edit</a>
		</div>
	</div>
</div>

<!-- Modal box and popups -->
<div id="modalBox" class="off">
	<!-- Confirm delete popup -->
	<div id="deletePopUp" class="popup off">
		<p>You can't undo this action!</p>
		<p>Are you sure you want to delete</p>
		<h3> {{ story.forDeletion }}?</h3>
		<br>
		<button ng-click="story.delete()">Delete</button>
		<button ng-click="story.closePopUp()">Abort</button>
	</div>
	
	<!-- Add chapter popup -->
	<div id="addPopUp" class="popup off">
		<h3>Edit Chapter Details</h3>
		<span class="formTitle">Chapter Number:</span> <input type="text" value="" id="chapterID">
		<br>
		<span class="formTitle">Chapter Title:</span> <input type="text" value="" id="chapterTitle">
		<br>
		<div class="formTitle">Chapter Synopsis:</div>
		<textarea id="chapterSynopsis" rows="7" cols="40"></textarea>
		<br>
		<button ng-click="story.addChapter()">Save</button>
		<button ng-click="story.closePopUp()">Abort</button>
	</div>
</div>