<div id="editStory">
	<h3>Edit Story Details</h3>
	<span class="formTitle">Story Title:</span> <input type="text" value="{{ story.storyName }}" id="storyTitle">
	<div class="formTitle">Story Synopsis:</div>
	<textarea id="storySynopsis" rows="5" cols="40">{{ story.storySynopsis }}</textarea>
	<br>
	<button ng-click="story.changeDetails()">Save</button>
</div>

<div id="chapters">
	<button id="addChapter" class="controlBtn" ng-click="story.addChapter()"><i class="fas fa-plus-circle"></i></button>
	<button id="removeChapters" class="controlBtn" ng-click="story.openRemovePanel()"><i class="fas fa-minus-circle"></i></button>
	<div class="chapters" ng-repeat="chapter in story.chapters">
		<div class="chapterDetails">
			<h4 class="chapterTitle"> Chapter {{ chapter.number }}:</h4>
			<h4 class="chapterTitle"> {{ chapter.title }} </h4>
			<p class="chapterSynopsis"> {{ chapter.synopsis }} </p>
			<button class="editButton">Edit</button>
		</div>
	</div>
</div>